spring:
  profiles:
    active:
    - dev
    
---

server:
  port: 8001
spring:
  profiles: dev    #开发环境
  application:
    name: microservicecloud-config-dept-client
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource                    # 当前数据源操作类型
    driver-class-name: com.mysql.jdbc.Driver                        # mysql驱动包
    url: jdbc:mysql://localhost:3306/demo                           # 数据库名称
    username: root
    password: 123456
    dbcp2:
      min-idle: 5                                                   # 数据库连接池的最小维持连接数
      initial-size: 5                                               # 初始化连接数
      max-total: 5                                                  # 最大连接数
      max-wait-millis: 200                                          # 等待连接获取的最大超时时
mybatis:
  config-location: classpath:mybatis/mybatis.cfg.xml                # mybaits配置文件所在路径
  type-aliases-package: demo.springcloud.entity                     # 所有Entity别名类所在包
  mapper-locations: classpath:mapper/**/*.xml                       # mapper映射文件
eureka:
  client:     #客户端注册进eureka服务列表内
    service-url:
      # 注册进eureka集群
      defaultZone: http://localhost:7001/eureka
  instance:
    instance-id: microservicecloud-dept  #自定义服务名称信息
    prefer-ip-address: true              #访问路径可以显示IP地址
    
info:
  app.name: demo-microservicecloud
  company.name: www.baidu.com
  build.artifactId: microservicecloud-provider-dept
  build.version: 0.0.1-SNAPSHOT
    
---
server:
  port: 8001
spring:
  profiles: test    #测试环境
  application:
    name: microservicecloud-config-dept-client
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource                    # 当前数据源操作类型
    driver-class-name: com.mysql.jdbc.Driver                        # mysql驱动包
    url: jdbc:mysql://localhost:3306/demo2                           # 数据库名称
    username: root
    password: 123456
    dbcp2:
      min-idle: 5                                                   # 数据库连接池的最小维持连接数
      initial-size: 5                                               # 初始化连接数
      max-total: 5                                                  # 最大连接数
      max-wait-millis: 200                                          # 等待连接获取的最大超时时
mybatis:
  config-location: classpath:mybatis/mybatis.cfg.xml                # mybaits配置文件所在路径
  type-aliases-package: demo.springcloud.entity                     # 所有Entity别名类所在包
  mapper-locations: classpath:mapper/**/*.xml                       # mapper映射文件
eureka:
  client:     #客户端注册进eureka服务列表内
    service-url:
      # 注册进eureka集群
      defaultZone: http://localhost:7001/eureka
  instance:
    instance-id: microservicecloud-dept  #自定义服务名称信息
    prefer-ip-address: true              #访问路径可以显示IP地址
    
info:
  app.name: demo-microservicecloud
  company.name: www.baidu.com
  build.artifactId: microservicecloud-provider-dept
  build.version: 0.0.1-SNAPSHOT

#保存为UTF-8格式